.about-page {
    max-width: 980px;
    margin: 18px 120px;
    padding: 20px;
    color: var(--color-primary-graphite);
    font-family: 'Golos Text', sans-serif
}

.about-page h1 {
    margin-bottom: 50px;
    font-size: 40px;
    color: black;
}

.about-title {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-primary-mint);
}

.about-title.h2 {
    font-size: 36px;
    font-weight: 700;
}

.about-title.h3 {
    margin-top: 32px;
}

.about-title.h3:last-child {
    margin-top: 16px;
}

.about-section {
    margin: 16px 0;
}

.about-section p,
.about-section li
{
    font-family: 'Golos Text', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: var(--color-primary-graphite);
}

.about-section li {
    margin-top: 5px;
}

.about-section ul {
    padding-left: 20px;
}


