header {
    display: flex;
    justify-content: space-between;
    padding: 18px 120px;
    box-shadow: 0 4px 16px rgba(0, 59, 76, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #F8F9FA;
}

.left_part {
    display: flex;
    align-items: center;
    gap: 80px;
}

.right_part {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    font-weight: 500;
}

.header-link {
    font-size: 16px;
    transition: color 0.2s ease-in-out;
}

.header-link:hover {
    color: var(--color-primary-mint);
}

.header-link--active {
    color: var(--color-primary-mint);
}
