.auth-main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 5% 120px;
}

.login-page__text {
    font-family: 'Golos Text', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    color: #0F0F0F;

    margin-top: 14px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

    width: 450px;
}

.login-form__label,
.login-form__text {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    color: var(--color-primary-graphite);
}

.login-form__text {
    font-size: 16px;
    margin-bottom: 1em;
}

.login-form__label{
    font-size: 14px;
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.login-form__input{
    height: 58px;
    border-radius: 15px;
    border: 1px solid #CED9DC;
    width: 437px;
    background: var(--color-primary-white);
    font-size: 18px;

    padding: 0 18px;
}

.login-form__input--error {
    border-color: #E53130;
}

.login-form__input::placeholder {
    font-family: 'Golos Text', serif;
    font-size: 16px;
    font-weight: 600;
    color: #7B7B7B;
}

.login-form__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: 48px;

    background: var(--color-primary-mint);
    border-radius: 16px;

    border: none;
    outline: none;

    color: white;

    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.login-form__button:hover {
    transform: scale(1.05);
}

.udv-icon {
    position: absolute;
    top: 5%;
}

.login-form__link {
    font-family: 'Golos Text', serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary-mint);

    margin-top: 16px;
}

.login-form__hint {
    font-family: 'Golos Text', serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

.login-form__hint--error {
    color: #E53130;
}


@media (min-width: 900px) {
    .auth-main {
        padding-top: 0 !important;
    }
}
