.user-main-properties-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
    height: max-content;

    font-weight: 500;
}

.user-main-properties-container.edit-mode {
    align-items: start;
}

.user-main-properties-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.user-main-properties-avatar__note {
    margin: 0;
    color: var(--color-secondary-dark-blue);
    font-size: 14px;
    font-weight: 400;
}

.user-main-properties-name {
    font-weight: 600;
    font-size: 40px;
}

.user-main-properties-title-override {
    font-size: 28px;
}

.user-main-properties {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-main-properties__header {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.user-main-properties-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
    row-gap: 8px;
    margin-top: 6px;

    width: auto;
    flex-wrap: wrap;
    white-space: normal;
    font-size: 16px;
}
