.teams-title {
    font-family: 'Golos Text', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-primary-graphite);
}

.teams-layout {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.teams-tree-list {
    display: flex;
    flex-direction: column;
}

.teams-tree-item{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.teams-tree-name{

}

.teams-tree-toggler{
    cursor: pointer;
    border:none;
    background: none;
}