.teams-title {
    font-family: 'Golos Text', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-primary-graphite);
}

.teams-layout {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.teams-tree-card {
    max-width: 1200px;
    min-width: 1200px;
    overflow: hidden;

    padding-top: 4px;
    padding-bottom: 4px;
}

.teams-list {
    display: flex;
    flex-direction: column;
}

.teams-tree-toggler {
    cursor: pointer;
    border: none;
    background: none;
}

.teams-users-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.teams-row{
    width: 100%;
    border-bottom: rgba(0, 59, 76, 0.17) 2px solid;
    display: flex;
    gap: 16px;
    height: 40px;
    align-items: center;
}

.teams-row:last-child {
    border-bottom: none;
}

.user-line-title {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;

    color: var(--color-primary-graphite);

}

.user-line-metrics {
    display: flex;
    gap: 16px;
}

.user-line-metric{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 4px;

    border: 2px solid var(--color-primary-mint);
    border-radius: 7px;
}