.teams-title {
    font-family: 'Golos Text', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-primary-graphite);
}

.teams-layout {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.teams-tree-card {
    max-width: 1200px;
    min-width: 1200px;
    overflow: hidden;

    padding-top: 4px;
    padding-bottom: 4px;
}

.teams-list {
    display: flex;
    flex-direction: column;
}

.teams-tree-toggler {
    cursor: pointer;
    border: none;
    background: none;
}

.teams-users-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.teams-row{
    width: 100%;
    border-bottom: rgba(0, 59, 76, 0.17) 2px solid;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    padding-right: 12px;
}

.teams-row:last-child {
    border-bottom: none;
}

/* левый блок: иконка, название */
.teams-row-left{
    display: flex;
    align-items: center;
    gap: 12px;
}

.teams-tree-icon{
    width: 18px;
    height: 18px;
}

.teams-tree-name{
    font-family: 'Golos Text', serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary-graphite);
}

/* правый блок: метрики */
.teams-row-right{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-secondary-dark-blue, #4b646b);
    font-size: 14px;
}

.teams-metric{
    white-space: nowrap;
    color: var(--color-secondary-dark-blue, #4b646b);
    font-size: 14px;
}

/* подсветка найденного */
.matched, .teams-row[style*="#E5F6F3"] {
    background: #E5F6F3;
}

/* поиск наверху */
.teams-search{
    margin-top: 12px;
    margin-bottom: 12px;
}

.teams-search-input{
    width: 420px;
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 300px;
    color: #CED9DC;
    background-color: #F8F9FA;
    border: 2px solid #CED9DC;
    margin-top: 14px;
    box-shadow: 0 4px 16px rgba(0, 59, 76, 0.1);
}

.user-line{
    justify-content: left;
}

.user-line-title {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;

    color: var(--color-primary-graphite);

}

.user-line-metrics {
    display: flex;
    gap: 16px;
}

.user-line-metric{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 4px;

    border: 2px solid var(--color-primary-mint);
    border-radius: 7px;
}
