.user-personal-info-controller {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: max-content;
}

.user-personal-info-controller__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-personal-info-controller__actions {
    display: flex;
    gap: 18px;
    height: 48px;
}

.user-personal-info-controller__actions--floating {
    position: sticky;
    top: 125px;
    z-index: 5;
}

.user-personal-info-controller__undo-edit-button,
.user-personal-info-controller__save-mode-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: max-content;
    padding: 0 18px;

    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Golos Text', sans-serif;

    border-radius: 12px;

    transition: transform 0.2s ease;
}

.user-personal-info-controller__undo-edit-button {
    border: 2px solid  var(--color-secondary-dark-blue);
    background: transparent;
    color: var(--color-secondary-dark-blue);
}

.user-personal-info-controller__save-mode-button {
    border: none;
    background-color: var(--color-secondary-dark-blue);
    color: var(--color-primary-white);
}

.user-personal-info-controller__undo-edit-button:hover,
.user-personal-info-controller__save-mode-button:hover,
.user-personal-info-controller__edit-mode-button:hover {
    transform: scale(1.05);
}

.user-personal-info-controller__hint {
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
    color: var(--color-secondary-dark-blue);
    margin: 32px 0;
}

.user-personal-info-controller__edit-mode-button {
    height: 39px;
    width: 156px;
    border: 2px solid var(--color-primary-graphite);
    border-radius: 12px;
    background: transparent;
    cursor: pointer;

    color: var(--color-secondary-dark-blue);

    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.user-personal-info-controller__error {
    margin-top: 16px;
    color: #E53130;
    font-size: 14px;
    font-weight: 600;
    font-family: "Golos Text", sans-serif;
    max-width: 562px;
}
