.user-basic-info-card {
    min-width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.user-basic-info-card-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
