.user-basic-info-card {
    min-width: 440px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 10px;

    height: max-content;
}

.user-basic-info-card-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
