.user-profile-card {
    padding: 20px 50px;
}

.user-profile-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.user-profile-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-profile-section-title{
    font-weight: 500;
    font-size: 28px;
}