.user-profile-card {
    padding: 20px 50px;
}

.user-profile-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 20px;
}

.user-profile-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-profile-section-title {
    font-weight: 500;
    font-size: 28px;
    height: 48px;
}

.edit-mode-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding: 14px 18px;
    gap: 6px;

    background: #37505C;
    border-radius: 12px;

    border: none;
    width: max-content;

    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Primary/White */
    color: var(--color-primary-white);
    cursor: pointer;

}

.undo-edit-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding: 14px 18px;
    gap: 6px;

    background: var(--color-primary-white);
    border: 2px solid var(--color-secondary-dark-blue);
    border-radius: 12px;

    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: var(--color-secondary-dark-blue);
    cursor: pointer;

}