.notification-container {
    position: fixed;
    top: 100px;
    right: 4%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 260px;
}

.notification {
    margin-bottom: 12px;
    max-width: 400px;
    min-width: 300px;
    animation: slideIn 0.3s ease-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 16px;
    gap: 10px;


    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    position: relative;
}

.notification:focus {
    border: 1px solid var(--color-primary-mint);
}

.notification.success{
    border: 1px solid var(--color-primary-mint);
}

.notification.error{
    border: 1px solid #E53130;
}

.notification.info{
    border: 1px solid var(--color-primary-mint);
}

.notification__content {
    flex: 1;
    min-width: 0;
}


.notification__message{
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 119.86%;
    color: #000000;
}

.notification__link{
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-decoration-line: underline;

    color: var(--color-primary-mint);
}

.notification__close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    color: #9CA3AF;
    padding: 4px;
}

.notification__close:hover,
.notification__close:focus-visible {
    color: #111827;
    outline: none;
}
