.worker-status {
    border-radius: 10000px;
    padding: 3px 10px 6px 10px;

    width: max-content;
    height: max-content;

    font-weight: 500;

    color: var(--color-primary-graphite);
}

.worker-status-work {
    background-color: var(--color-primary-mint);
}

.worker-status-vacation {
    background-color: var(--color-secondary-light-vio);
}

.worker-status-sick {
    background-color: var(--color-secondary-yellow);
}
