.user-profile-card {
    padding-top: 24px;
    margin-left: 170px;
}

.user-profile-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 20px;
    margin-left: 137px;
    font-size: 16px;
}

.user-profile-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-profile-section-title {
    font-weight: 500;
    font-size: 28px;
    height: 48px;
}

.edit-mode-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: max-content;
    padding: 0 16px;

    border: none;
    outline: var(--color-primary-mint) solid 1px;
    border-radius: 15px;

    color: var(--color-primary-mint);
    background-color: #F8F9FA;
    cursor: pointer;

    font-size: 16px;

}

.undo-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: max-content;
    padding: 0 16px;

    border: none;
    outline: var(--color-secondary-dark-blue) solid 1px;
    border-radius: 15px;

    color: var(--color-secondary-dark-blue);
    background-color: #F8F9FA;
    cursor: pointer;

    font-size: 16px;
}
