.user-profile-card {
    padding-top: 24px;
    margin-left: 170px;
}

.user-profile-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 20px;
    margin-left: 137px;
    font-size: 16px;
    padding-bottom: 50px;
}

.user-profile-basic-wrapper {
    position: relative;
    width: max-content;
}

.user-profile-basic-edit-link {
    position: absolute;
    top: 30px;
    left: calc(100% + 170px);
    text-decoration: none;
}

.user-profile-basic-edit-button {
    height: 39px;
    width: 156px;
    border: 2px solid var(--color-primary-graphite);
    border-radius: 12px;
    background: transparent;
    cursor: pointer;

    color: var(--color-secondary-dark-blue);

    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.user-profile-basic-edit-button:hover {
    transform: scale(1.05);
}

.user-profile-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-profile-section-title {
    font-weight: 500;
    font-size: 28px;
    height: 48px;
    width: 144px;
}

.teams-table-settings_buttons {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.save-mode-button,
.edit-mode-button,
.AD-sync-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: max-content;
    padding: 0 18px;

    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Golos Text', sans-serif;

    border-radius: 12px;

    transition: transform 0.15s ease;
}

.save-mode-button:hover,
.edit-mode-button:hover,
.AD-sync-button:hover {
    transform: scale(1.05);
}

.save-mode-button {
    border: none;
    background-color: var(--color-secondary-dark-blue);
    color: var(--color-primary-white);
}

.edit-mode-button {
    width: max-content;

    border: none;
    outline: var(--color-primary-mint) solid 2px;

    color: var(--color-primary-mint);
    background-color: #F8F9FA;
}

.AD-sync-button{
    width: 175px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    border: none;
    outline: #CED9DC solid 2px;

    color: var(--color-primary-graphite);
    background-color: #F8F9FA;
    box-shadow: 0 4px 16px rgba(0, 59, 76, 0.1);

    border-radius: 15px;
}
