.row-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-info > .label {
    width: 144px;
    color: var(--color-secondary-dark-blue);
}

.row-info > .value {
    max-width: 640px;
    font-weight: 500;
}
