.employees-title {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-primary-graphite);

}

main {
    width: 100%;
}

.employees-table-head {
    height: 43px;
    color: var(--color-primary-graphite);
    text-align: left;
}

.employees-table {
    width: 100%;
    border-collapse: collapse;
}

.employees-table-row td,
.employees-table-head th {
    border-bottom: 2px solid #CED9DC;
    max-width: 200px;
    overflow: hidden;
}

.employees-table-row td {
    height: 48px;
}

.employees-table-row td:first-child,
.employees-table-head th:first-child {
    padding-left: 30px;
}

.employees-table-row:last-child td {
    border-bottom: none;
}

.employees-filters {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}


.employees-filters label {
    display: none;
}

.employees-filters input,
.employees-filters select {
    height: 36px;
    padding: 6px 10px;
    border: 2px solid #CED9DC;
    border-radius: 15px;
    background: #fff;
    font-size: 14px;
    color: #CED9DC;
    min-width: 180px;
    max-width: 200px;
    box-shadow: 0 4px 16px rgba(0, 59, 76, 0.1);
}

.employees-filters input::placeholder {
    color: #9AAEB2;
}

.employees-table {
    margin-top: 8px;
}

.employees-table-link {
    text-decoration: underline;
    display: inline-flex;
    color: inherit;
}

.employees-profile {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.employees-avatar-placeholder {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #CED9DC;
    flex-shrink: 0;
}

.add-row > td {
    padding-right: 20px;
}

.employees-table-input {
    height: 28px;
    border-radius: 10px;
    border: 2px solid var(--color-primary-mint);
    width: 100%;
    background: var(--color-primary-white);

    font-size: 14px;
    padding: 0 10px;
}