.employees-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 16px;
}

.employees-title {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-primary-graphite);
}

.admin-controls {
    display: flex;
    align-items: center;
    gap: 16px;
}

main {
    width: 100%;
}

.employees-table-head {
    height: 43px;
    color: var(--color-primary-graphite);
    text-align: left;
}

.employees-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 150px;
}

.employees-table-head__column_label > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.employees-table-row td,
.employees-table-head th {
    border-bottom: 2px solid #CED9DC;
    max-width: 200px;
    overflow: hidden;
}

.employees-table-row td {
    height: 48px;
}

.employees-table-row td:first-child,
.employees-table-head th:first-child {
    padding-left: 16px;
}

.employees-table-row:last-child td {
    border-bottom: none;
}

.employees-filters {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.filters-group {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    flex: 1;
}

.reset-filters-container {
    margin-left: auto;
    flex-shrink: 0;
}

.employees-filters label {
    display: none;
}

.employees-filters input,
.employees-filters select {
    height: 36px;
    padding: 6px 10px;
    border: 2px solid #CED9DC;
    border-radius: 15px;
    background: #fff;
    font-size: 14px;
    color: black;
    min-width: 180px;
    max-width: 200px;
    box-shadow: 0 4px 16px rgba(0, 59, 76, 0.1);
}

.employees-filters select {
    cursor: pointer;
}

.employees-filters input[type="checkbox"] {
    display: none;
}

.filter-column-checkbox__label {
    height: 36px;
    padding: 6px 10px;
    border: 2px solid #CED9DC;
    border-radius: 15px;
    background: #fff;
    font-size: 14px;
    color: #CED9DC;
    min-width: 50px;
    max-width: 50px;
    box-shadow: 0 4px 16px rgba(0, 59, 76, 0.1);

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.filter-column-checkbox-star-gray {
    filter: grayscale(100%);
}

.employees-filters input::placeholder {
    color: #CED9DC;
}

.employees-table {
    margin-top: 8px;
}

.employees-table-link {
    text-decoration: underline;
    display: inline-flex;
    color: inherit;
}

.employees-profile {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.employees-avatar-placeholder {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #CED9DC;
    flex-shrink: 0;
}

.add-row > td {
    padding-right: 20px;
}

.employees-table-input {
    height: 28px;
    border-radius: 10px;
    border: 2px solid var(--color-primary-mint);
    width: 100%;
    background: var(--color-primary-white);

    font-size: 14px;
    padding: 0 10px;
}

.reset-filters-button,
.undo-edit-new-user-button,
.delete-users-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: max-content;
    padding: 0 18px;

    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Golos Text', sans-serif;

    border-radius: 12px;

    transition: transform 0.15s ease;
}

.reset-filters-button {
    height: 39px;
    width: 165px;
    padding: 0;

    border: 2px solid var(--color-secondary-dark-blue);
    border-radius: 12px;
    background: var(--color-primary-white);
    cursor: pointer;

    color: var(--color-secondary-dark-blue);
    font-size: 14px;
    font-weight: 500;
}

.undo-edit-new-user-button {
    justify-content: space-between;

    border: none;
    outline: #CED9DC solid 2px;

    color: var(--color-primary-graphite);
    background-color: #F8F9FA;
}

.delete-users-button:hover,
.reset-filters-button:hover,
.undo-edit-new-user-button:hover {
    transform: scale(1.05);
}

.delete-users-button{
    border: none;
    outline: #CED9DC solid 2px;

    color: var(--color-primary-graphite);
    background-color: #F8F9FA;
}