.user-basic-info-card {
    min-width: 440px;
    max-width: 735px;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: max-content;
    width: max-content;
}

.user-basic-info-card__boss-link {
  text-decoration: underline;
  color: var(--color-primary-mint);
}
