.user-basic-info-card {
    min-width: 440px;
    max-width: 735px;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: max-content;
    width: max-content;
}

.user-basic-info-card__boss-link {
  text-decoration: underline;
  color: var(--color-primary-mint);
}

.user-basic-info-card__top {
  display: flex;
  align-items: flex-start;
}

.user-basic-info-card__top-rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-basic-info-card__edit-link {
  margin-left: 170px;
  text-decoration: none;
}

.user-basic-info-card__edit-button {
  height: 39px;
  width: 156px;
  border: 2px solid var(--color-primary-graphite);
  border-radius: 12px;
  background: transparent;
  cursor: pointer;

  color: var(--color-secondary-dark-blue);

  font-family: 'Golos Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.user-basic-info-card__edit-button:hover {
  transform: scale(1.05);
}
